/////////////////////////////////////////////////
// VARIABLES
/////////////////////////////////////////////////

// FONTS
$title-font: 'STIX Two Text', serif
$copy-font: 'Roboto', sans-serif

// PALETTE 
$background-color: #e5e8ec
$accent-color: #fcecca
$active-content-title: #cbab80
$active-content-border: #d83a6a
$card-background: #f6f7f9
$dimgray: #696679
$darkgray: #abafb8
$silver: #b1b5bc
$white: #fff
$gainsboro: #e2e1e5
$shadow: #cfd3d8

/////////////////////////////////////////////////
// STYLES
/////////////////////////////////////////////////
*
    box-sizing: border-box

body
    background-color: $background-color
    font-family: $copy-font
    display: flex
    flex-direction: column
    align-items: center
    margin: 0
    padding: 0

#nav-header
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    padding: 2.75em 2.75em 7em 2.75em
    background-image: url('../images/bg_mtns (1).jpg')
    background-position-y: 22%
    background-position-x: center
    background-repeat: no-repeat
    background-size: cover

nav
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    width: 100%

    #logo-text
        margin: 0
        color: $white
        font-size: 1.6rem
        font-weight: 400

    #logo-accent
        color: $accent-color
        font-weight: 300

    #nav-tabs
        display: flex
        flex-direction: row
        //flex gap isn't supported by IE11
        gap: 2.25em

        .nav-tab
            font-size: .85rem
            &:hover
                cursor: pointer

        #home-tab
            color: $accent-color

        #away-tab
            color: $gainsboro

header
    display: flex
    flex-direction: column
    justify-content: center
    width: 40vw
    margin-top: 2em
    color: $white
    text-align: center

    #hero-title
        font-family: $title-font
        font-size: 2.5rem
        margin-bottom: .25em

    #hero-copy
        margin: 0
        color: $gainsboro
        font-weight: 300
        font-size: 1rem

#filter-options
    display: flex
    flex-flow: row wrap
    align-items: center
    position: relative
    top: -1.7em
    width: 40vw

    .filter-option
        width: calc(100%/3)
        height: fit-content
        padding: 1.33em 2.25em
        font-size: .75rem
        font-weight: 300
        text-align: center
        background-color: $dimgray
        color: $gainsboro
        &:hover
            cursor: pointer

    .active
        padding: 1.5em 2.25em
        background-color: $accent-color
        color: $dimgray
        font-weight: 500

main
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 2.75em 2.75em 2.75em

#content-boxes
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    gap: 3em

.content-box
    display: flex
    flex-direction: column
    width: 30%
    padding: 2.5em 1.25em 1.25em 1.25em
    text-align: center
    background-color: $card-background

    .box-title
        font-weight: 400
        font-size: 1.5rem
        color: $darkgray

    .box-subtitle
        margin-bottom: 5em
        font-weight: 500
        font-size: .8rem
        color: $darkgray

    .box-link-area
        display: none

    &:hover
        cursor: pointer
        border-top: 2px solid $active-content-border

        .box-title
            color: $active-content-title

        .box-subtitle
            color: $dimgray

        .box-link-area
            display: block
            justify-self: flex-end
            padding: 1em
            background-color: $dimgray

        .box-link
            color: $gainsboro
            font-size: .8rem
            text-decoration: none
