* {
  box-sizing: border-box;
}

body {
  background-color: #e5e8ec;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#nav-header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5vw 5vw 10vw 5vw;
  background-image: url("../images/bg_mtns (1).jpg");
  background-position-y: 22%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
nav #logo-text {
  margin: 0;
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
}
nav #logo-accent {
  color: #fcecca;
  font-weight: 300;
}
nav #nav-tabs {
  display: flex;
  flex-direction: row;
  gap: 3.5vw;
}
nav #nav-tabs .nav-tab {
  font-size: 1vw;
  text-decoration: none;
}
nav #nav-tabs .nav-tab:hover {
  cursor: pointer;
}
nav #nav-tabs #home-tab {
  color: #fcecca;
}
nav #nav-tabs #away-tab {
  color: #e2e1e5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  margin-top: 3.5vw;
  color: #fff;
  text-align: center;
}
header #hero-title {
  font-family: "STIX Two Text", serif;
  font-size: 3.5vw;
  margin-bottom: 1vw;
}
header #hero-copy {
  margin: 0;
  color: #e2e1e5;
  font-size: 1vw;
  line-height: 1.75;
}

#filter-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  top: -2.25vw;
  width: 40vw;
}
@media (min-width: 1601px) {
  #filter-options {
    top: -1.1vw;
    width: 25vw;
  }
}
#filter-options .filter-option {
  width: calc(100%/3);
  height: fit-content;
  padding: 1.33vw 2.25vw;
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  background-color: #696679;
  color: #e2e1e5;
}
#filter-options .filter-option:hover {
  cursor: pointer;
}
@media (min-width: 1601px) {
  #filter-options .filter-option {
    padding: 0.5vw;
    font-size: 0.7vw;
  }
}
#filter-options .active {
  padding: 1.5vw 2.25vw;
  background-color: #fcecca;
  color: #696679;
  font-weight: 500;
}
@media (min-width: 1601px) {
  #filter-options .active {
    padding: 0.7vw;
  }
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vw;
}

#content-boxes {
  display: grid;
  grid-template-columns: repeat(3, 28vw);
  column-gap: 3vw;
  row-gap: 2vw;
  grid-template-rows: repeat(autofill, 25vw);
  padding: 0 5vw;
  margin: 2.5vw;
}
@media (min-width: 1601px) {
  #content-boxes {
    grid-template-columns: repeat(4, 15vw);
    padding: 0;
  }
}

.content-box {
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 28vw;
  height: 24vw;
  margin-top: 1vw;
  padding: 6vw 2.5vw 2.5vw 2.5vw;
  text-align: center;
  background-color: #f6f7f9;
  transition: margin-top 0.5s, margin-bottom 0.5s;
}
@media (min-width: 1601px) {
  .content-box {
    width: 15vw;
    height: 12.5vw;
    padding: 2.5vw 1.25vw 1.25vw 1.25vw;
  }
}
.content-box .box-title {
  font-weight: 400;
  font-size: 2.5vw;
  margin: 0 0 1.25vw 0;
  color: #abafb8;
}
@media (min-width: 1601px) {
  .content-box .box-title {
    font-size: 1.25vw;
    margin: 0 0 0.625vw 0;
  }
}
.content-box .box-subtitle {
  font-weight: 500;
  font-size: 1.25vw;
  margin: 0 0 5.5vw 0;
  color: #7d7b8b;
}
@media (min-width: 1601px) {
  .content-box .box-subtitle {
    font-size: 0.75vw;
    margin: 0 0 3.625vw 0;
  }
}
.content-box .box-link-area {
  display: none;
}
.content-box:hover {
  cursor: pointer;
  box-shadow: inset 0 0.3vw #d83a6a;
  margin: 0 0 1vw 0;
}
@media (min-width: 1601px) {
  .content-box:hover {
    margin-bottom: 0.625vw;
    box-shadow: inset 0 0.15vw #d83a6a;
  }
}
.content-box:hover .box-title {
  color: #cbab80;
}
.content-box:hover .box-subtitle {
  color: #3d4e65;
}
.content-box:hover .box-link-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vw;
  background-color: #696679;
}
@media (min-width: 1601px) {
  .content-box:hover .box-link-area {
    height: 2.5vw;
  }
}
.content-box:hover .box-link {
  color: #e2e1e5;
  font-size: 1.25vw;
  text-decoration: none;
}
@media (min-width: 1601px) {
  .content-box:hover .box-link {
    font-size: 0.75vw;
  }
}

/*# sourceMappingURL=styles.css.map */
