* {
  box-sizing: border-box;
}

body {
  background-color: #f4f5f8;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#nav-header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5vw 5vw 10vw 5vw;
  background-image: url("../images/bg_mtns (1).jpg");
  background-position-y: 22%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
nav #logo-text {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
}
@media (min-width: 1601px) {
  nav #logo-text {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  nav #logo-text {
    font-size: 3vw;
  }
}
nav #logo-accent {
  color: #fdecca;
  font-weight: 300;
}
nav #nav-tabs {
  display: flex;
  flex-direction: row;
  gap: 3.5vw;
}
nav #nav-tabs .nav-tab {
  font-size: 1vw;
  text-decoration: none;
}
nav #nav-tabs .nav-tab:hover {
  cursor: pointer;
}
@media (min-width: 600px) and (max-width: 900px) {
  nav #nav-tabs .nav-tab {
    font-size: 1.5vw;
  }
}
@media (max-width: 600px) {
  nav #nav-tabs .nav-tab {
    font-size: 2.5vw;
  }
}
nav #nav-tabs #home-tab {
  color: #fdecca;
}
nav #nav-tabs #away-tab {
  color: #e2e1e5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  margin-top: 3.5vw;
  color: #fff;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 900px) {
  header {
    width: 50vw;
  }
}
@media (max-width: 600px) {
  header {
    width: 75vw;
  }
}
header #hero-title {
  font-family: "STIX Two Text", serif;
  font-size: 3.5vw;
  margin-bottom: 1vw;
}
@media (max-width: 600px) {
  header #hero-title {
    font-size: 5vw;
  }
}
header #hero-copy {
  margin: 0;
  color: #e2e1e5;
  font-size: 1.25vw;
  line-height: 1.75;
}
@media (min-width: 600px) and (max-width: 900px) {
  header #hero-copy {
    font-size: 2vw;
  }
}
@media (max-width: 600px) {
  header #hero-copy {
    font-size: 2.5vw;
  }
}

#filter-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  top: -2.25vw;
  width: 40vw;
}
@media (min-width: 1601px) {
  #filter-options {
    top: -1.1vw;
    width: 25vw;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #filter-options {
    width: 50vw;
  }
}
@media (max-width: 600px) {
  #filter-options {
    top: -2.75vw;
    width: 75vw;
  }
}
#filter-options .filter-option {
  width: calc(100%/3);
  height: fit-content;
  padding: 1.33vw 2.25vw;
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  background-color: #696679;
  color: #e2e1e5;
  box-shadow: 0 0 7.5px 2.5px #66696679;
}
#filter-options .filter-option:hover {
  cursor: pointer;
}
@media (min-width: 1601px) {
  #filter-options .filter-option {
    padding: 0.5vw;
    font-size: 0.7vw;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #filter-options .filter-option {
    font-size: 1.5vw;
  }
}
@media (max-width: 600px) {
  #filter-options .filter-option {
    font-size: 2vw;
  }
}
#filter-options .active {
  padding: 1.5vw 2.25vw;
  background-color: #fdecca;
  color: #696679;
  font-weight: 500;
}
@media (min-width: 1601px) {
  #filter-options .active {
    padding: 0.7vw;
  }
}
@media (max-width: 600px) {
  #filter-options .active {
    padding: 1.75vw;
  }
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vw;
}

#content-boxes {
  display: grid;
  grid-template-columns: repeat(3, 28vw);
  column-gap: 3vw;
  row-gap: 2vw;
  grid-template-rows: repeat(autofill, 25vw);
  padding: 2.5vw 5vw;
}
@media (min-width: 1601px) {
  #content-boxes {
    grid-template-columns: repeat(4, 15vw);
    padding: 0;
  }
}
@media (max-width: 600px) {
  #content-boxes {
    grid-template-columns: repeat(2, 42vw);
    padding: 2.5vw 0;
  }
}

.content-box {
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 28vw;
  height: 24vw;
  margin-top: 4%;
  padding: 30% 10% 2% 10%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 2.5px 0 #69667934;
  transition-property: margin-top, margin-bottom, padding-top, box-shadow;
  transition-duration: 0.5s;
}
@media (min-width: 1601px) {
  .content-box {
    width: 15vw;
    height: calc(360vw/28);
  }
}
@media (max-width: 600px) {
  .content-box {
    width: 42vw;
    height: 32vw;
  }
}
.content-box .box-text-area {
  height: 100%;
}
.content-box .box-title {
  font-weight: 400;
  font-size: 2.5vw;
  margin: 0 0 5% 0;
  color: #abafb8;
  transition-property: color;
  transition-duration: 0.5s;
}
@media (min-width: 1601px) {
  .content-box .box-title {
    font-size: 1.25vw;
  }
}
@media (max-width: 600px) {
  .content-box .box-title {
    font-size: 3.5vw;
  }
}
.content-box .box-subtitle {
  font-weight: 600;
  font-size: 1.25vw;
  color: #7d7b8b;
}
@media (min-width: 1601px) {
  .content-box .box-subtitle {
    font-size: 0.75vw;
  }
}
@media (max-width: 600px) {
  .content-box .box-subtitle {
    font-size: 2vw;
  }
}
.content-box .box-link-area {
  display: none;
}
.content-box:hover {
  cursor: pointer;
  box-shadow: inset 0 0.25vw #d83a6a, 0 20px 20px 0 #69667934;
  margin: 0 0 4% 0;
  padding: 15% 9% 9% 9%;
}
@media (min-width: 1601px) {
  .content-box:hover {
    box-shadow: inset 0 0.15vw #d83a6a;
    padding: 2vw 0.75vw 0.75vw 0.75vw;
  }
}
@media (max-width: 600px) {
  .content-box:hover {
    box-shadow: inset 0 0.5vw #d83a6a;
  }
}
.content-box:hover .box-title {
  color: #caaa7f;
}
.content-box:hover .box-subtitle {
  color: #3d4e65;
}
.content-box:hover .box-link-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #696679;
}
.content-box:hover .box-link {
  color: #e2e1e5;
  font-size: 1.25vw;
  text-decoration: none;
}
@media (min-width: 1601px) {
  .content-box:hover .box-link {
    font-size: 0.75vw;
  }
}
@media (max-width: 600px) {
  .content-box:hover .box-link {
    font-size: 2vw;
  }
}

/*# sourceMappingURL=styles.css.map */
